{% extends "_base.html" %}
{% from "_util.html" import render_field %}
{% block title %}Home{% endblock %}

{% block content %}
<div>
    <div class="container">
    <div class="row">
    <div class="span9">
    <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="#">Navigation</a>
    <ul class="nav">
    <li class="active"><a href="#">Example Game</a></li>
    <li><a href="#">View Points</a></li>
    <li><a href="#">Edit Points</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>

    <h2>Welcome</h2>
    <div>
        Welcome to the Example game!
    </div>

</div>
{% endblock %}