{% extends "_base.html" %}
{% from "_util.html" import render_field %}
{% block title %}Template Home{% endblock %}

{% block content %}
<div>
    <div class="container">
    <div class="row">
    <div class="span9">
    <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="#">Navigation</a>
    <ul class="nav">
    <li class="active"><a href="{{ url_for('.index') }}">Example Game</a></li>
    <li><a href="{{ url_for('.view_points') }}">View Points</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>

    <h2>Welcome</h2>
    <div>
        Welcome to the Example game!
        
        Go check out your <a href='{{ url_for(".view_points") }}'>points</a>!
    </div>

</div>
{% endblock %}