<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='capiscum.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" />
    
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
		
	<title>{% block title %}{% endblock %} - Inspire Web Portal</title>
	{% block head %}{% endblock %}
</head>
<body>

<div id="logo">
  <h1><a href="{{ url_for('index') }}">XO Teacher Portal</a></h1>
  <h2><a href="{{ url_for('index') }}">for Chester Community Charter School</a></h2>
</div>
<div id="tabs"></div>
<div id="content">

  <div id="sidebar">
    <div class= "boxed" style='margin-bottom:20px'>
        <div class="content">
        {% if g.user %}
        Welcome, {{ g.user.name}} ({{g.user.email }})<br>
        <a href='{{url_for("logout")}}'>Log out</a><br>
        <a href='{{url_for("view_resets")}}'>View Password Requests</a><br>
        
        {% else %}
        You are not currently logged in.
        {% endif %}
        </div>
    </div>
    <div class="boxed">
        <h2>Modules</h2>
        <ul class="nav nav-list">
            {% for module in g.modules %}
            <li><a href='{{ url_for(module._index_path) }}'>{{ module.public_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
  </div>
  
  <div id="main">
    {% for message in get_flashed_messages() %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
		{{ message }}
    </div>
	{% endfor %}
    
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
  </div>

  <div id="footer">
    <p id="legal">Site created for Chester Community Charter School by University of Delaware and Virginia Tech &copy; 2012 . All Rights Reserved..</p>
    <p id="links"><a href="index.php">Home</a></p>
  </div>

</div>

<script type="text/javascript" href="{{ url_for('static', filename='js/jquery.js') }}" />
<script type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.js') }}" />
</body>
</html>