{% extends "_base.html" %}
{% from "_util.html" import render_field %}
{% block title %}Home{% endblock %}

{% block content %}
<div>

    <h2>Welcome</h2>
    <div>
        To begin using a game, use the bar on the right.
    </div><br><br>
    
    {% if not g.user %}
    <h2>Login</h2>
    {% if error %}
		{{ error }}
	{% endif %}
    <form action="{{ url_for('login') }}" method="POST">
        {{ form.hidden_tag() }}
        Email: {{ form.email() }}<br>
        Password: {{ form.password() }}<br>
        <input type="submit" value="Login"><br>
        If you are new, make sure to <a href='{{ url_for("register") }}'>register</a> first.
    </form>
    {% endif %}

</div>
{% endblock %}