{% set active_page = 'register' %}
{% extends "_base.html" %}
{% block head %}
{% endblock %}
{% block title %}Register Account{% endblock %}
{% block body %}
	{% if error %}
		{{ error }}
	{% endif %}
	<form method="POST" action="{{ url_for('register') }}">
        Register as {{ registration_type }}<br>
		<label for="email">Email:</label>
        <input id="email" type="text" name="email" value="" /><br>
        
        <label for="name">Visible Name:</label>
        <input id="name" type="text" name="name" value="" /><br>
        
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" value="" /><br>
        
        <input id='type' type='hidden' name='type' value="{{ registration_type }}" />
        
        <input id="submit" type="submit" name="submit" value="Register" />
	</form>
{% endblock %}