{% extends "_base.html" %}
{% from "_util.html" import render_field %}
{% block title %}Register{% endblock %}

{% block content %}
<div>    
    <h2>Register</h2>
    {% if error %}
		{{ error }}
	{% endif %}
    <form action="{{ url_for('register') }}" method="POST">
        {{ form.hidden_tag() }}
        Email: {{ form.email() }}<br>
        Password: {{ form.password() }}<br>
        Name: {{ form.name() }}<br>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}